.thread-container {
    display: grid;
    grid-gap: 20px;
    margin-top: 20px;
}

.card-container, .post-container {
    background-color: #fff;
    box-shadow: 2px 4px 8px var(--darkShadow);
    border-radius: 20px;
    padding: 40px;
    margin: 0 auto;
    width: 600px;
}

.card-header {
    display: flex;
    height: 50px;
    margin-bottom: 20px;
}

.card-header > figcaption {
    line-height: 25px;
    margin-left: 20px;
}

.card-header > figcaption > p {
    color: var(--darkShadow);
    font-size: 16px;
    padding-bottom: 10px;
}

.poster-profile {
    width: 50px;
    border-radius: 25px;
}

.card-pic, .img-preview {
    margin: 20px 0 0px;
    width: 100%;

}

.btn-container {
    display: flex;
    justify-content: flex-end;
}

.trash-icon {
    display: flex;
    margin-left: 5px;
    cursor: pointer;
}

.card-footer {
    display: flex;
    justify-content: space-between;
    height: 20px;
    position: relative;
}

.like-container {
    display: flex;
}

.like-container > figcaption, .comment-icon > figcaption {
    font-weight: bold;
    margin-left: 5px;
    display: flex;
    align-items: top;
}

.comment-icon {
    display: flex;
    justify-self: flex-end;
    position: absolute;
    right: 0;
}

@media screen and (max-width: 688px) {
    .card-container {
        width: 100%;
    }
}
